{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Agregar Carpeta{% endblock %}

{% block Opciones %}
  <li id='primeraOpcion' class="nav-item">
    <a class="nav-link text-white" href="{% url 'gaInicio' %}">
      Inicio                    
    </a>
  </li>
{% endblock %}

{% block contenedor %}
        <div class="container">
            <form action="{% url 'crearCarpeta' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1 style="margin-top: 0.5em;" >Agregar Carpeta</h1>
                <br>
                <input type="hidden" name="id">
                <div class="mb-3 col-6">
                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre">
                </div>
                <div class="mb-2 col-5 d-flex flex-row justify-content-between align-items-center">
                    <div class="mb-3 col-6">
                        <label for="exampleFormControlInput1" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" name="fecha">
                    </div>
                </div>
                <div class="mb-3 col-6">
                    <label for="exampleFormControlInput1" class="form-label">Imagen Portada</label>
                    <input type="file" accept="image/jpeg, image/png" class="form-control" id="exampleFormControlInput1" name="foto">
                </div>
                <button class="btn btn-success">Crear Carpeta</button>
            </form>
        </div>
{% endblock %}