{% extends 'Oasis/barNav.html' %}
{% load static %}
{{data}}

{% block titulo %}Galería{% endblock %}

{% block Opciones %}
  <li id='primeraOpcion' class="nav-item">
    <a class="nav-link text-white" href="{% url 'gaInicio' %}">
      Inicio                    
    </a>
  </li>
{% endblock %}


{% block contenedor %}
    <div class="contenedor2">
        <h1>Galería</h1>
        <div class="Contenido">
            <div class="conteos">
            <p><b>Todos</b> (<span id="totalUsuarios">0</span>)</p>
            </div>
            <div class="search">
                <input  type="text" id="myInput" placeholder="Buscar productos...">
                <button id="searchButton" type="submit">Buscar</button>
            </div>
        </div>
        <div class="Agregar">
            <a type="button" class="btn btn-success" href="{% url 'gaCarpetaForm' %}">Agregar Carpeta</a>
        </div>
        <div class="row">
            <div  class="col-md-12 productos2">
                {% for i in data %}
                <a href="{% url 'gaFotos' %}">
                    <div class="pedido-item3 foto">
                        <div class="contenedor-img">
                            <img src="{{ i.foto.url }}" alt="foto">
                        </div>
                        <div class="nombre_carpeta">
                            <p>{{ i.nombre }}</p>
                        </div>
                        <div class="fecha">
                            <p style="font-size: 15px;">{{ i.fecha }}</p>
                        </div>
                        <a class="btn btn-warning" href="{% url 'gaCarpetaFormActualizar' i.id %}"><i class="bi bi-pencil"></i></a>
                        <a type="button" class="btn btn-danger" href="javascript:eliminar('{% url 'eliminarCarpeta' i.id %}')"><i class="bi bi-x-lg"></i></a>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}