{% extends 'Oasis/barNav.html' %}
{% load static %}
{% load humanize %}
{{data}}

{% block titulo %}Productos{% endblock %}

{% block Opciones %}
  <!--<li id='primeraOpcion' class="nav-item">
    <a class="nav-link text-white" href="#">
      Inicio                    
    </a>
  </li>-->
  <li id='primeraOpcion' class="nav-item">
    <a class="nav-link text-white" href="{% url 'Productos' %}">
      Productos                    
    </a>
  </li>
{% endblock %}

{% block contenedor %}
  <h1 style="margin-top: 0.5em;">Productos</h1>
  <div class="Contenido">
      <div class="conteos">
      <p><b>Todos</b> (<span id="totalUsuarios">0</span>)</p>
      </div>
      <div class="search">
          <input  type="text" id="myInput" placeholder="Buscar productos...">
          <button id="searchButton" type="submit">Buscar</button>
      </div>
  </div>
  <div class="Agregar">
    <a type="button" class="btn btn-success" href="{% url 'invProductosForm' %}">Agregar Producto</a>
  </div>
  <div id="contenedorTabla" class="contenedorTabla">            
      <table id="tabla" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Inventario</th>
            <th>Precio</th>
            <!--<th>Foto</th>-->
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for i in data %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.nombre }}</td>
                    <td>{{ i.categoria }}</td>
                    <td>{{ i.inventario }}</td>
                    <td>${{ i.precio|intcomma }}</td>
                    <!--<td>
                      <img src="{{ i.foto.url }}" class="card-img-top" alt="foto_producto" style="max-height: 100px;">
                    </td>-->
                    <td>
                    <a class="btn btn-warning" href="{% url 'invFormProductosActualizar' i.id %}"><i class="bi bi-pencil"></i></a>
                    <a type="button" class="btn btn-danger" href="javascript:eliminar('{% url 'eliminarProducto' i.id %}')"><i class="bi bi-x-lg"></i></a>
                    </td>
                </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <br>
    <br>
{% endblock %}