{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Gestión de Mesas{% endblock %}

{% block Opciones %}
  <li id='primeraOpcion' class="nav-item">
    <a class="nav-link text-white" href="{% url 'peInicio' %}">Inicio</a>
  </li>
  <li id='segundaOpcion' class="nav-item lateralOpciones2">
    <a class="nav-link text-white" href="{% url 'peHistorial' %}">Historial de Pedidos</a>
  </li>
  <li id='terceraOpcion' class="nav-item lateralOpciones2">
    <a class="nav-link text-white" href="{% url 'peGestionMesas' %}">Gestión de Mesas</a>
  </li>
{% endblock %}

{% block contenedor %}
  <h1 style="margin-top: 0.5em;">Gestión de Mesas</h1>
  <div class="Contenido">
    <div class="conteos">
      <p><b>Todos</b> (<span id="totalUsuarios">0</span>)</p>
    </div>
    <div class="search">
      <input type="text" id="myInput" placeholder="Buscar mesas...">
      <button id="searchButton" type="submit">Buscar</button>
    </div>
  </div>
  <div class="mesas">
    {% for m in mesas %}
      {% if m.estado == "Disponible" %}
        <div class="tarjetaDisponible">
          <section class="mesaDisponible">
            <h2>{{ m.nombre }}</h2>
            <p>{{ m.estado }}</p>
            <a type="button" class="btn btn-success" href="{% url 'pedidoEmpleado' m.id %}">Activar Mesa</a>
          </section>
        </div>
      {% else %}
        <div class="tarjetaActiva">
          <section class="mesaActiva">
            <h2>{{ m.nombre }}</h2>
            <p>{{ m.estado }}</p>
            <a type="button" class="btn btn-primary" href="{% url 'ver_pedidos_mesa' m.id %}">Ver</a>
          </section>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

