{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Historial de Pedidos{% endblock %}


{% block Opciones %}
  <li id='primeraOpcion' class="nav-item">
    <a class="nav-link text-white" href="{% url 'peInicio' %}">
      Inicio                    
    </a>
  </li>
  <li id='segundaOpcion' class="nav-item lateralOpciones2">
    <a class="nav-link text-white" href="{% url 'peHistorial' %}">
      Historial de Pedidos                    
    </a>
  </li>
  <li id='terceraOpcion' class="nav-item lateralOpciones2">
    <a class="nav-link text-white" href="{% url 'peGestionMesas' %}">
      Gestión de Mesas             
    </a>
  </li>
{% endblock %}


{% block contenedor %}
  <h1 style="margin-top: 0.5em;" >Historial de Pedidos</h1>
  <div class="Contenido">
      <div class="conteos">
      <p><b>Todos</b> (<span id="totalUsuarios">0</span>)</p>
      </div>
      <div class="search">
          <input  type="text" id="myInput" placeholder="Buscar pedidos...">
          <button id="searchButton" type="submit">Buscar</button>
      </div>
  </div>
  <div id="contenedorTabla" class="contenedorTabla">            
      <table id="tabla" class="table table-striped">
        <thead>
          <tr>
            <th>Mesa</th>
            <th>Cliente</th>
            <th>CC</th>
            <th>Productos</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mesa 1</td>
            <td>Juan Pérez</td>
            <td>1127653204</td>
            <td class="tablaProductosHistorial">
              <ul>
                <li>x1 Tequila Don Julio Blanco Reserva 700ml</li>
                <li>x3 Martini</li>
              </ul>
            </td>
            <td>5/10/2023</td>
            <td>$---</td>
            <td id="entregado">Pagado</td>
          </tr>
          <tr>
            <td>Mesa 7</td>
            <td>Daniela Medina</td>
            <td>1450987365</td>
            <td class="tablaProductosHistorial">
              <ul>
                <li>x3 Tacos</li>
                <li>x2 Moscow Mule</li>
                <li>x1 Negroni</li>
              </ul>
            </td>
            <td>4/10/2023</td>
            <td>$---</td>
            <td id="entregado">Pagado</td>
          </tr>
          <tr>
            <td>Mesa 14</td>
            <td>Yeison Grisales</td>
            <td>1468942301</td>
            <td class="tablaProductosHistorial">
              <ul>
                <li>x1 Litro Ron</li>
                <li>x5 Michelada</li>
              </ul>
            </td>
            <td>3/10/2023</td>
            <td>$---</td>
            <td id="cancelado">Cancelado</td>
          </tr>
        </tbody>
      </table>
    </div>
{% endblock %}
