{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Pedidos{% endblock %}


{% block Opciones %}
  <li id='primeraOpcion' class="nav-item">
    <a class="nav-link text-white" href="{% url 'peInicio' %}">
      Inicio                    
    </a>
  </li>
  <li id='segundaOpcion' class="nav-item lateralOpciones2">
    <a class="nav-link text-white" href="{% url 'peHistorial' %}">
      Historial de Pedidos                    
    </a>
  </li>
  <li id='terceraOpcion' class="nav-item lateralOpciones2">
    <a class="nav-link text-white" href="{% url 'peGestionMesas' %}">
      Gestión de Mesas             
    </a>
  </li>
{% endblock %}

{% block contenedor %}
    <h1 style="margin-top: 0.5em;" >Pedidos</h1>
    <div class="Contenido">
        <div class="conteos">
            <p><b>Todos</b> (<span id="totalUsuarios">{{ total_pedidos }}</span>)</p>
        </div>
    </div>
    {% for detalle_pedido in detalles_pedidos %}
        <section class="tarjetaOrden">
            <section class="listaOrden">
                <div class="Orden">
                    <h3><strong>{{ detalle_pedido.pedido.mesa.nombre }}</strong></h3>
                    {% for detalle in detalle_pedido.detalles %}
                        <p>x {{ detalle.cantidad }} {{ detalle.producto }}</p>
                    {% endfor %}
                    <p>Estado: <strong>{{ detalle_pedido.pedido.estado }}</strong></p>
                </div>
                <button id="entregando" class="btn btn-deliver w-100">Entregar Pedido</button>
            </section>

            <section class="detallesOrden">
                <div class="informacionOrden">
                    <h3><span><b>{{ detalle_pedido.pedido.mesa.nombre }}</span> - Cliente: </b>{{ detalle_pedido.pedido.usuario }}</h3>
                    <p><b>Estado: <span>{{ detalle_pedido.pedido.estado }}</span></b></p>
                    <h5>Comentario</h5>
                    <textarea name="textarea" rows="2" cols="90" readonly>{{ detalle_pedido.pedido.comentario }}</textarea>
                </div>  
                <div class="order-items">
                    <h4>Productos</h4>
                    <ul>
                        {% for detalle in detalle_pedido.detalles %}
                        <li>x{{ detalle.cantidad }} {{ detalle.producto }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </section>
    {% endfor %}
{% endblock %}
