{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Agregar Evento{% endblock %}

{% block Opciones %}
  <li id='primeraOpcion' class="nav-item">
    <a class="nav-link text-white" href="{% url 'eveInicio' %}">
      Inicio                    
    </a>
  </li>
{% endblock %}

{% block contenedor %}
<style>

    form h1{
        margin-left: 0%;
    }

    form label{
        font-size: 2.2vh;
    }


</style>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
        <div class="container">
            <form>
                {% csrf_token %}
                <h1>Agregar Evento</h1>
                <br>
                <input type="hidden" name="id">
                <div class="mb-3 col-6">
                    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="nombreEvento">
                </div>
                <div class="mb-2 col-5 d-flex flex-row justify-content-between align-items-center">
                    <div class="mb-3 col-6">
                        <label for="exampleFormControlInput1" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" name="fechaEvento">
                    </div>
                    <div class="mb-3 col-5">
                        <label for="exampleFormControlInput1" class="form-label">Hora Inicio</label>
                        <input type="time" class="form-control" id="exampleFormControlInput1" name="horaInicio">
                    </div>
                </div>
                <div class="mb-3 col-6">
                    <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="descripcionEvento">
                </div>
                <button class="btn btn-success">Crear Evento</button>
            </form>
        </div>
    </main>
{% endblock %}