{% extends 'Oasis/barNav.html' %}
{% load static %}
{{data}}

{% block titulo %}Eventos{% endblock %}

{% block Opciones %}
  <li id='primeraOpcion' class="nav-item">
    <a class="nav-link text-white" href="{% url 'Eventos' %}">
      Inicio                    
    </a>
  </li>
{% endblock %}

{% block contenedor %}
    <h1 style="margin-top: 0.5em;" >Eventos</h1>
    <div class="Contenido">
        <div class="conteos">
            <p><b>Todos</b> (<span id="totalUsuarios">0</span>)</p>
        </div>
        <div class="search">
            <input id="myInput" placeholder="Buscar eventos..." type="text">
            <button id="searchButton" type="submit">Buscar</button>
        </div>
    </div>
    <div class="Agregar">
        <a type="button" class="btn btn-success" href="{% url 'eveForm' %}">Agregar Evento</a>
    </div>
    <div id="contenedorTabla" class="contenedorTabla">            
        <table id="tabla" class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Fecha</th>
              <th>Aforo</th>
              <th>Entradas Disponibles</th>
              <th>Reservas</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for e in data %}
            <tr>
              <td>{{ e.id }}</td>
              <td>{{ e.nombre }}</td>
              <td>{{ e.fecha }}</td>
              <td>{{ e.aforo }}</td>
              <td><a href="{% url 'eveEntradas' e.id %}" style="text-decoration: none;">{{ e.entradas_disponibles }}</a></td>
              {% if e.reservas %}
                <td><a href="{% url 'eveReserva' e.id%}" style="text-decoration: none;">Ver reservas</a></td>
              {% else %}
                <td>No existen reservas</td>
              {% endif %}
              <td>
                <a type="button" class="btn btn-warning" href="{% url 'eveFormActualizar' e.id %}"><i class="bi bi-pencil"></i></a>
                <a type="button" class="btn btn-danger" href="javascript:eliminar('{% url 'eliminarEvento' e.id %}')"><i class="bi bi-x-lg"></i></a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
    </div>

{% endblock %}
