{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oasis - {% block titulo %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'Oasis/css/botonesDiseño.css' %}">
  <link rel="stylesheet" href="{% static 'Oasis/css/index.css' %}">
  <link rel="stylesheet" href="{% static 'Oasis/css/bootstrap.min.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <img src="{% static 'Oasis/img/logoOasisBlanco.png' %}" alt="logo_oasis" width="15%">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
          <ul class="navbar-nav d-flex justify-content-around align-items-center mx-auto mb-2 mb-lg-0" id="Opciones">
            {% block opciones %}
            {% endblock %}
          </ul>
          <div class="d-flex" id="botones">
            {% block botones %}
            {% endblock %}
          </div>
        </div>
    </nav>
    {% block lateral %}
    {% endblock %}
  </header>
  {% if messages %}
  {% for message in messages %}
  <div
    class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show"
    role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% block contenedor %}
  {% endblock %}
</body>

</html>