{% extends 'Oasis/barNavInicio.html' %}
{% load static %}

{% block titulo %}Registro{% endblock %}

{% block opciones %}
<li class="nav-item">
  <a class="nav-link toggle opcionesNav" href="{% url 'guInicio' %}" role="button">
    Seguridad
  </a>
</li>
<li class="nav-item">
  <a class="nav-link toggle opcionesNav" href="{% url 'invInicio' %}" role="button">
    Inventario
  </a>
</li>
<li class="nav-item">
  <a class="nav-link toggle opcionesNav" href="{% url 'peInicio' %}" role="button">
    Pedidos
  </a>
</li>
<li class="nav-item">
  <a class="nav-link toggle opcionesNav" href="{% url 'eveInicio' %}" role="button">
    Eventos
  </a>
</li>
<li class="nav-item">
  <a class="nav-link toggle opcionesNav" href="{% url 'meInicio' %}" role="button">
    Menú
  </a>
</li>
<li class="nav-item">
  <a class="nav-link toggle opcionesNav" href="{% url 'gaInicio' %}" role="button">
    Galería
  </a>
</li>
{% endblock %}

{% block botones %}
<button class="btn2" type="button" data-bs-toggle="offcanvas" data-bs-target="#pantallaLogin" style="margin-left: 40%;">Reservar
  Ahora
</button>
{% endblock %}

{% block contenedor %}
<section class="contenedorInicio">
  <div class="imagen">
    <img src="{% static 'Oasis/img/fondoRegistro4.jpg' %}" alt="Fondo Registro">
  </div>
  <div class="contentRegistro">
    <div class="Registro">
      <h1>REGISTRO</h1>
      <div class="formulario">
        <form class="form">
          <div class="group">
            <input required="true" class="main-input" type="text">
            <span class="highlight-span"></span>
            <label class="lebal-email">Primer Nombre</label>
          </div>
          <div class="container-1">
            <div class="group">
              <input required="true" class="main-input" type="text">
              <span class="highlight-span"></span>
              <label class="lebal-email">Apellido</label>
            </div>
          </div>
          <div class="container-1">
            <div class="group">
              <input required="true" class="main-input" type="text">
              <span class="highlight-span"></span>
              <label class="lebal-email">Email</label>
            </div>
          </div>
          <div class="container-1">
            <div class="group">
              <input required="true" class="main-input" type="password">
              <span class="highlight-span"></span>
              <label class="lebal-email">Contraseña</label>
            </div>
          </div>
          <div class="container-1">
            <div class="group">
              <input required="true" class="main-input" type="password">
              <span class="highlight-span"></span>
              <label class="lebal-email">Confirmar Contraseña</label>
            </div>
          </div>
          <div class="container-1">
            <div class="group">
              <input required="true" class="main-input" type="checkbox">
              <span class="highlight-span"></span>
              <label class="lebal-email">Soy mayor de edad</label>
            </div>
          </div>
        </form>
      </div>
      <div class="contentbutton">
        <button class="btn-normalpeque">Registrarse</button>
      </div>
    </div>
  </div>
</section>
{% endblock %}

