<div name="terminoCondi">
    <strong>Términos y condiciones.</strong>
    <br>
    <br>
Por favor, lee atentamente los siguientes términos y condiciones antes de utilizar nuestra aplicación móvil. Al acceder y utilizar nuestra aplicación, aceptas cumplir con estos términos y condiciones. Si no estás de acuerdo con alguno de estos términos, por favor, no utilices nuestra aplicación.
La aplicación móvil de la Discoteca Oasis está diseñada para proporcionar información sobre nuestros servicios, eventos y promociones, así como para permitir la realización de compras en línea y pedidos en línea de productos y servicios ofrecidos por la discoteca.
Al utilizar nuestra aplicación, aceptas utilizarla sólo para fines legales y de acuerdo con estos términos y condiciones.
Términos de Registro.
Para acceder a ciertas funciones de la aplicación, puedes necesitar registrarte y crear una cuenta de usuario. Debes proporcionar información precisa y completa durante el proceso de registro.
Eres responsable de mantener la confidencialidad de tu cuenta y contraseña, y aceptas no compartir tus credenciales de inicio de sesión con terceros.
</div>
<br>
<div name="terminoComp">
    <strong>Términos para compras.</strong>
    <br>
    <br>
    La aplicación móvil de la Discoteca Oasis ofrece la posibilidad de realizar compras en línea de entradas para eventos, bebidas, alimentos u otros productos y servicios ofrecidos por la discoteca.
    Al realizar una compra a través de nuestra aplicación, aceptas pagar el precio total indicado, incluidos los impuestos aplicables y cualquier cargo adicional.
    Todas las ventas son finales y no se aceptan devoluciones, a menos que se especifique lo contrario en nuestros términos de venta.
</div>
<br>
<div name="terminoPedi">
    <strong>Términos para pedidos en línea.</strong> 
    <br>
    <br>
    La aplicación móvil de la Discoteca Oasis permite realizar pedidos en línea de alimentos y bebidas para ser consumidos en nuestras instalaciones.
    Al realizar un pedido a través de nuestra aplicación, aceptas pagar el precio total indicado, así como cualquier cargo por servicio o entrega que pueda aplicarse.
    Nos reservamos el derecho de rechazar cualquier pedido que consideremos inapropiado o que viole nuestras políticas internas.
</div>


