{% extends 'Oasis/barNav.html' %}
{% load static %}

{% block titulo %}Mi Perfil{% endblock %}


{% block Opciones %}
    <li id='primeraOpcion' class="nav-item lateralOpciones">
        <a class="nav-link text-white" href="{% url 'ver_perfil' %}">
          Inicio                    
        </a>
    </li>
    {% if user.rol == 4 %}
        <li id='segundaOpcion' class="nav-item lateralOpciones2">
            <a class="nav-link text-white" href="{% url 'ver_ventas' %}">
            Historial de pedidos                   
            </a>
        </li>
        <li id='segundaOpcion' class="nav-item lateralOpciones2">
            <a class="nav-link text-white" href="{% url 'ver_ventas' %}">
            Reservas                    
            </a>
        </li>
        <li id='segundaOpcion' class="nav-item lateralOpciones2">
            <a class="nav-link text-white" href="{% url 'entradas_usuario' %}">
            Entradas
            </a>
          </li>
    {% else %}
        <li id='segundaOpcion' class="nav-item lateralOpciones2">
            <a class="nav-link text-white" href="#">
            Historial de Ventas                   
            </a>
        </li>
    {% endif %}
{% endblock %}


{% block contenedor %}
    {% if user.rol ==  4 %}
        <h1 style="margin-top: 0.5em;">Historial de Pedidos</h1>
    {% else %}
        <h1 style="margin-top: 0.5em;">Historial de Ventas</h1>
    {% endif %}
    <div class="Contenido">
        <div class="conteos">
            <p><b>Todos</b> (<span id="totalUsuarios">0</span>)</p>
        </div>
        <div class="search">
            <input placeholder="Buscar usuarios..." type="text">
            <button type="submit">Buscar</button>
        </div>
    </div>
    <br>
    <div id="contenedorTabla" class="contenedorTabla">            
        <table id="tabla" class="table table-striped">
            <thead>
                <tr>
                    <th style="width: 150px; text-align: center;">ID</th>
                    <th>Fecha Venta</th>
                    <th>Usuario</th>
                    <th>Estado</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                {% for v in venta %}
                <tr>
                    <td style="text-align: center;">{{ v.id }}</td>
                    <td>{{ v.fecha_venta }}</td>
                    <td>{{ v.usuario }}</td>
                    {% if request.session.logueo.rol == 4 %}
                        <td>{{ v.get_estado_display }}</td>
                    {% else %}
                    <td style="display: flex; justify-content: center; align-items: center;">
                        <select class="form-select" name="estado" style="width:150px">
                            {% for e in v.ESTADOS %}
                                <option value="e.0" {% if e == e.0 %}selected{% endif %}>{{ e.1 }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {% endif %}
                    <td>
                        <a class="btn btn-info btn-block" href="{% url 'ver_detalles' v.id %}">Ver detalles</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}